.advantages {
    margin-top: 200px;
}

.all-need-desert {
    display: block;
    height: 510px;
}

.all-need-desert-content {
    float: left;
    width: 650px;
}

.all-need-desert-content h1 {
    font-size: 52px;
    color: #5a42a8;
}

.all-need-desert-content p {
    font-size: 28px;
    color: #2B2149;
    margin-top: 20px;
}

.all-need-desert-img {
    float: right;
    height: 100%;
}

.features {
    position: relative;
    margin-top: 100px;
    text-align: center;
}

.feature {
    display: inline-block;
    text-align: center;
    width: 470px;
}

.feature h3 {
    font-size: 48px;
    font-weight: 900;
    color: #5a42a8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature p {
    font-size: 26px;
    color: #2B2149;
}

.feature:first-child {
    position: absolute;
    left: 0;
}

.feature:last-child {
    position: absolute;
    right: 0;
}