.caramel {
    position: relative;
    height: 100%;
    background-color: #7a60c5;
}

.caramel-img {
    height: 100%;
    width: 942px;
    float: left;
}

.caramel-content {
    position: absolute;
    color: white;
    top: 50%;
    left: 982px;
    transform: translateY(-50%);
    width: 780px;
}

.caramel-content p {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.caramel-content-header {
    position: relative;
}

.caramel-content-header h1 {
    font-size: 64px;
}

.caramel-content-header .caramel-eval {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 24px;
    transform: translateY(-25%);
}

.caramel-eval img {
    width: 18px;
    height: 18px;
}

.caramel-select {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.caramel-select button {
    display: inline-block;
    padding: 0;
    width: 205px;
    height: 160px;
}

.caramel-select button:first-child {
    position: absolute;
    left: 0;
}

.caramel-select button:last-child {
    position: absolute;
    right: 0;
}

.caramel-select button div:first-child {
    border-bottom: 1px solid white;
    padding: 25px 30px;
}

.caramel-select button div:last-child {
    padding-top: 25px;
    padding-bottom: 25px;
}

.selected {
    background-color: #d0d5fd;
    color: #5d41a8;
}

.caramel-select-buy {
    width: 100%;
    margin-top: 55px;
}

.counter {
    display: inline-block;
    position: relative;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    width: 205px;
    height: 58px;
    margin-right: 77px;
}

.counter button {
    position: absolute;
    border: none;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
}

.counter button:first-child {
    left: 15px;
}

.counter button:last-child {
    right: 15px;
}

.counter button img {
    width: 16px;
    height: 16px;
}

.counter input {
    color: white;
    background-color: #7a60c5;
    font-size: 24px;
    text-align: center;
    border: none;
    height: 100%;
    width: 50px;
    outline: none;
}

.caramel-select-buy > button {
    width: calc(100% - 211px - 82.5px); /* Для того, чтобы кнопка была нужной ширины, считаем её с помощью calc */
    display: inline-block;
    height: 58px;
}