.choose-container {
    text-align: center;
}

.choose-content {
    color: #5a42a8;
}

.choose-content h1 {
    font-size: 64px;
    width: 800px;
    margin: 200px auto 10px auto;
}

.choose-content p {
    font-size: 32px;
    width: 800px;
    color: #2B2149;
    margin: 0 auto 100px auto;
}

.choose-slider-cards {
    position: relative;
}

.choose-slider .card {
    display: inline-block;
    text-align: center;
}

/* Здесь мы используем трюк, похожий на то, что мы делали для шапки, только отдельно применяем стили для
   первого и последнего элемента с поомщью селекторов :first-child и :last-child, а центральный элемент
   выровняется за счёт display: inline-box и text-align: center у choose-container */
.choose-slider .card:first-child {
    position: absolute;
    left: 0;
}

.choose-slider .card:last-child {
    position: absolute;
    right: 0;
}


.card-img {
    width: 450px;
    position: relative;
}

.card-img-main {
    width: 100%;
}

.card-img-hit {
    position: absolute;
    right: 30px;
    top: 30px;
}

.choose-slider .card h3 {
    font-size: 28px;
    font-weight: 900;
    margin-top: 15px;
    color: #2B2149;
}

.choose-slider .card p {
    font-weight: 900;
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.discont {
    text-decoration: line-through;
    color: #f04664;
    margin-left: 10px;
}

.slider-indicator {
    position: relative;
    height: 4px;
    background-color: #e0e0e0;
    margin-top: 60px;
    margin-bottom: 10px;
}

.indicator-track {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.indicator-bar {
    position: absolute;
    height: 100%;
    background-color: #6a3adb;
    width: 50%;
    left: 0%;
}

.slider-buttons {
    margin-top: 25px;
}

.slider-buttons button {
    all: unset;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 40px;
}

.slider-buttons button:first-child {
    margin-right: 10px;
}

.slider-buttons button:last-child {
    margin-left: 10px;
}

.choose-new {
    position: relative;
    background-color: #f5f9d4;
    height: 500px;
    border-radius: 40px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.choose-new-text {
    position: absolute;
    text-align: left;
    width: 50%;
    top: 50%;
    left: 150px;
    transform: translateY(-50%);
}

.choose-new-text h1 {
    font-size: 64px;
    color: #5a42a8;
}

.choose-new-text p {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 32px;
    color: #2B2149;
    width: 650px;
}

.choose-new-img {
    position: absolute;
    right: 0;
    margin: 20px;
}

.choose-new-img img {
    border-radius: 40px;
}