@import url('header.css');
@import url('choose.css');
@import url('caramel.css');
@import url('advantages.css');
@import url('survey.css');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

.content {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    padding-top: 20px;
    background-image: url('/img/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #5a42a8;
    text-align: center;
}

.main-content {
    margin-top: 220px;
}

.main-content h3 {
    font-size: 48px;
    font-weight: 900;
}

.main-content h1 {
    font-size: 64px;
    width: 700px;
    margin: 20px auto;
}

.main-content p {
    font-size: 32px;
    width: 880px;
    margin: auto;
    color: #2B2149;
    margin-bottom: 50px;
}

button {
    padding: 10px 50px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bolder;
    background-color: #7a60c5;
    color: white;
    cursor: pointer;
    transition: none;
}